.mat-divider {
  border-right-width: 3px !important;
  border-color: rgba(103, 58, 183);
}

.mat-toolbar {
    background: none !important;
    box-shadow: 0px 3px 6px  rgba(0, 0, 0, 0.349) ;
}
