.filtre {
  margin-top: 1%;
}

.colorfiltre {
  color: #673AB7;
}

.mat-form-field {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.349);
}

.content {
  margin-top: 1%;
}

.cardcontent {
  height: 200px;
}

.img-card {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}

.card-sujet {
  color: #673AB7;
  font-size: 13px;
}

.card-module {
  font-size: 18px;

}

.card-level {
  margin-top: 5px;
  margin-bottom: 3px;
  color: #7F7F7F;
  font-size: 14px;

}

.card-description {
  color: #7F7F7F;
  font-size: 14px;
}
