<!-- Filtres -->

<div class="container filtre">
  <div class="row">
    <div class="col-6 ">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="colorfiltre">
            Sujet
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list aria-label="Module selection">
          <mat-chip color="primary" *ngFor="let sujet of sujets" selected>{{sujet}}</mat-chip>
        </mat-chip-list>
      </mat-expansion-panel>
    </div>
    <div class="col-6">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Module
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list aria-label="Module selection">
          <mat-chip color="primary" *ngFor="let module of modules" selected>{{module}}</mat-chip>
        </mat-chip-list>
      </mat-expansion-panel>
    </div>
  </div>

  <!-- Liste des formations proposées -->

  <div class="container content">
    <mat-card class="cardcontent">
      <div class="row">
        <div class="col-4">
          <img src="../../assets/img/sujet/altlassian.png" alt="" class="img-card">
        </div>
        <div class="col-8">
          <div class="card-sujet">Jira</div>
          <div class="card-module">Introduction: Jira/Confluence</div>
          <div class="card-level"><img src="../../assets/img/level/facile.png" alt="" class="align-baseline"> Facile
          </div>
          <div class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
            dolore eu fugiat nulla pariatur.</div>
        </div>
      </div>

    </mat-card>
  </div>


  <!-- Pagination -->
