<!-- Laptop -->
<div class="d-none d-sm-block">
  <mat-toolbar>
    <div class="container ">
      <div class="row align-items-center">
        <img class="col-md-2 offset-md-1 col-sm-2 offset-sm-1 d-md-none d-lg-block d-sm-none"
          src="..\assets\img\logo\logo3.2.png" alt="logo">
        <img class="col-md-2 offset-md-1 col-sm-2 d-none d-sm-block d-md-block d-lg-none"
          src="..\assets\img\logo\logo 3 se.png" alt="logo">
        <div class="col-md-2 col-sm-3">
          <button mat-button>Sessions</button>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col-md-2 col-sm-2">
          <button mat-button [matMenuTriggerFor]="administration">Administration</button>
          <mat-menu #administration="matMenu">
            <button mat-menu-item>Ressources humaines</button>
            <button mat-menu-item [matMenuTriggerFor]="sachant">Sachant</button>
            <button mat-menu-item>Responsable d'équipe</button>
          </mat-menu>
          <mat-menu #sachant="matMenu">
            <button mat-menu-item>Sessions</button>
            <button mat-menu-item>Tests</button>
            <button mat-menu-item>Modules</button>
          </mat-menu>
        </div>
        <div class="col-md-1 offset-md-3 col-sm-1 offset-sm-3">
          <button mat-mini-fab color="primary">
            <mat-icon>person_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
<!-- mobile  -->
<div class="d-block d-sm-none">
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side">Sidenav content</mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon >menu</mat-icon>
          </button>
          <img class="col-4 offset-2" src="..\assets\img\logo\logo 3 se.png" alt="logo">
        </mat-toolbar-row>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
